body{
    background: white url(gambar/semak.jpg) no-repeat top center;


    /* background-color:rgb(15, 15, 117);
    background-image: url(gambar/bg3.png);
    background-repeat: no-repeat;
    background-position: top center ; */
}