h1{
    color: lightcoral;
    font-family: Arial, verdana, sans-serif;
    font-size: 100px;
    font-variant: small-caps;
    font-style: italic;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
}